* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.banner {
  height: 100vh;
  width: 100vh;
}
.imgss {
  height: 800px;
  width: 500px;
  border: 2px solid red;
}
.lstImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
